extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | CareerBuilder: Your Path to a Brighter Future.
        | <br /><br />
        | CareerBuilder is a leading online job portal and career resource platform designed to help individuals find the perfect job and employers to discover top talent. With a user-friendly interface and a vast array of features, CareerBuilder has become a trusted resource for job seekers and employers alike.
        | <br /><br />
        | Consider incorporating this information into your website to provide a thorough overview of CareerBuilder and its benefits. You can also include links to the CareerBuilder website for visitors to explore further.





